.navbar {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.navbar .menu {
  display: flex;
  gap: 10px;
}

.navbar a:hover {
  color: #457367;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}